<ng-container>
  <div class="slider-btn slider-btn-left" *ngIf="hasPrevious" (click)="previous()">
    <cds-icon size="xl" shape="angle" direction="left"></cds-icon>
  </div>
  <div class="slider-btn slider-btn-right" *ngIf="hasNext" (click)="next()">
    <cds-icon size="xl" shape="angle" direction="right"></cds-icon>
  </div>
</ng-container>
<clr-modal
  (clrModalOpenChange)="close()"
  [(clrModalOpen)]="isOpen"
  [clrModalSize]="'xl'"
  [clrModalStaticBackdrop]="false"
>
  <h3 class="modal-title" *ngIf="fileData">{{ fileData.fileName }}</h3>

  <div class="modal-body" (touchstart)="swipe($event, 'start')" (touchend)="swipe($event, 'end')">
    <div [ngClass]="{ 'height-100': !loading }" class="clr-row height-100" *ngIf="fileData">
      <div class="clr-col-xl-9 clr-col-sm-12 height-100">
        <div class="modal-image-center height-100">
          <div *ngIf="loading">
            <div style="width: 100px; margin-left: auto; margin-right: auto; margin-top: 200px">
              <clr-spinner></clr-spinner>
            </div>
          </div>
          <div [ngClass]="{ 'no-scroll': loading }" class="modal-image-container">
            <img
              #image
              *ngIf="thumbPath"
              src="{{ thumbPath }}"
              alt="{{ fileData.fileName }}"
              (load)="loading = false"
              (click)="toggleFull()"
              [ngClass]="{ 'fullscreen-image': isFull, 'modal-image': !isFull }"
            />
          </div>
        </div>
      </div>
      <div class="clr-col-xl-3 clr-col-sm-12">
        <div class="row">
          <table *ngIf="meta" class="table table-vertical table-compact" style="margin-top: 0">
            <tbody>
              <tr *ngIf="meta.DateTimeOriginal">
                <th>Original Date</th>
                <td>{{ meta.DateTimeOriginal }}</td>
              </tr>
              <tr *ngIf="fileData.sizeBytes">
                <th>File Size</th>
                <td>{{ fileData.sizeBytes | appPrettyBytes }}</td>
              </tr>
              <tr *ngIf="meta.ImageWidth">
                <th>Width</th>
                <td>{{ meta.ImageWidth }}</td>
              </tr>
              <tr *ngIf="meta.ImageHeight">
                <th>Height</th>
                <td>{{ meta.ImageHeight }}</td>
              </tr>
              <tr *ngIf="fileData.createdAt">
                <th>File Created</th>
                <td>{{ fileData.createdAt | appDate }}</td>
              </tr>
              <tr *ngIf="!meta.Make && meta.Software">
                <th>Software</th>
                <td>{{ meta.Software }}</td>
              </tr>
              <tr *ngIf="meta.Make">
                <th>Make</th>
                <td>{{ meta.Make }}</td>
              </tr>
              <tr *ngIf="meta.Model">
                <th>Model</th>
                <td>{{ meta.Model }}</td>
              </tr>
              <tr *ngIf="meta.LensID">
                <th>Lens</th>
                <td>{{ meta.LensID }}</td>
              </tr>
              <tr *ngIf="meta.FocalLength">
                <th>Focal Length</th>
                <td>
                  {{ meta.FocalLength }}
                  <span *ngIf="meta.FocalLengthIn35mmFormat">({{ meta.FocalLengthIn35mmFormat }} eq)</span>
                </td>
              </tr>
              <tr *ngIf="meta.ISO">
                <th>ISO</th>
                <td>{{ meta.ISO }}</td>
              </tr>
              <tr *ngIf="meta.Aperture">
                <th>Aperture</th>
                <td>{{ meta.Aperture }}</td>
              </tr>
            </tbody>
          </table>
          <button title="Download Original" (click)="downloadOriginal(fileData)" class="btn btn-icon">
            <cds-icon shape="download"></cds-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="close-area" (click)="close()"></div>
  </div>
</clr-modal>
