.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.right{
  display:flex;
  justify-content: right;
}

.data-key-row:nth-child(odd){
  background-color: rgba(210, 208, 208, 0.38);
}
.data-value-row:nth-child(odd){
  background-color: rgba(210, 208, 208, 0.38);
}

.shadedListElement {
  background-color: rgba(210, 208, 208, 0.38);
  height: 100px;
}

.modal-image{
  max-width: 100%;
  display: block; margin-left: auto; margin-right: auto;

}

.modal-image:hover{
  cursor:zoom-in;
}

.modal-title{
  font-size: 20px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  hyphens: auto;
  word-wrap: break-word;
}

.picture-center{
  position: relative;
  width: 100%;
}

.picture-center:hover{
  cursor: zoom-in;
}

.slider__btn {
  color: #787878;
  background-color: rgba(0,0,0,0.07);
  font-size: 16px;
  padding: 36px 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.slider__btn:hover{
  background-color: rgba(85, 85, 85, 0.39);
}

.laptop_slider__btn--right{

  position: fixed;
  right: 0;
  padding: 250px 36px;
}

.laptop_slider__btn--left{
  position: fixed;
  left: 0px;
  padding: 250px 36px;
}

.mobile_slider__btn--right {
  position: fixed;
  right: 0;
  top: 0;
  padding: 100% 4px 100% 30px;
}

.mobile_slider__btn--left{
  position: fixed;
  left:0;
  top: 0;
  padding: 100% 30px 100% 4px;
}

.modal-body{
  height: 75vh;
}

.closeArea{
  position: fixed;
  height: 150px;
  width: 250px;
  left:60px;
  right:60px;
  bottom: 60px;
}

.laptop_fullscreen{
  position: fixed;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top:20px;
  height:95%;
  width: auto;
  background-color: black;
}

.laptop_fullscreen:hover{
  cursor: zoom-out;
}

/*.mobile_fullscreen{*/
/*  position: fixed;*/
/*  top: 0;*/
/*  bottom: 0;*/
/*  left:0;*/
/*  right:0;*/
/*  margin: auto;*/
/*  width:95%;*/
/*  height: auto;*/
/*  background-color: black;*/
/*}*/

