<ng-container>
  <div class='slider-btn slider-btn-left' *ngIf='hasPrevious' (click)='previous()'>
    <cds-icon size='xl' shape='angle' direction='left' class="slider-btn-svg"></cds-icon>
  </div>
  <div class="slider-btn slider-btn-right" *ngIf="hasNext" (click)="next()">
    <cds-icon size="xl" shape="angle" direction="right" class="slider-btn-svg"></cds-icon>
  </div>
</ng-container>
<clr-modal
  (clrModalOpenChange)="close()"
  [(clrModalOpen)]="isOpen"
  [clrModalSize]="'xl'"
  [clrModalStaticBackdrop]="false"
  *ngIf='desktop'
>
  <h3 class="modal-title" *ngIf="fileData">{{ fileData.fileName }}</h3>

  <div class="modal-body" >
    <div [ngClass]="{ 'height-100': !loading }" class="clr-row height-100" *ngIf="fileData">
      <div class="clr-col-xl-9 clr-col-sm-12 height-100">
        <div class="modal-image-center height-100">
          <div *ngIf="loading">
            <div style="width: 100px; margin-left: auto; margin-right: auto; margin-top: 200px">
              <clr-spinner></clr-spinner>
            </div>
          </div>
          <div [ngClass]="{ 'no-scroll': loading }" class="modal-image-container">
            <img
              #image
              *ngIf="thumbPath"
              src="{{ thumbPath }}"
              alt="{{ fileData.fileName }}"
              (load)="loading = false"
              (click)="toggleFull($event)"
              [ngClass]="{ 'fullscreen-image': isFull, 'modal-image': !isFull }"
            />
          </div>
        </div>
      </div>
      <div class="clr-col-xl-3 clr-col-sm-12">
        <div class="row">
          <app-file-data-meta [fileData]='fileData'></app-file-data-meta>
          <button title="Download Original" (click)="downloadOriginal(fileData)" class="btn btn-icon">
            <cds-icon shape="download"></cds-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="close-area" (click)="close()"></div>
  </div>
</clr-modal>


<div  *ngIf='!desktop' class='phone_close_fixed' (click)='close($event)'>
    <cds-icon shape="times" status='info' size='md'></cds-icon>
  </div>

<div *ngIf='!desktop'
     class='phone_backdrop'
     (touchstart)="swipe($event, 'start')"
     (touchend)="swipe($event, 'end')"
     (touchmove)="swipe($event, 'move')"
      #phoneBackrop>

  <div *ngIf='fileData' class='phone_fullscreen'>
    <div class='phone_fullscreen-part'>
        <div
             (click)='close()'
        ></div>
    </div>
    <div class='phone_fullscreen-part'>
      <div *ngIf='loading' style='text-align: center;'>
        <clr-spinner style='margin: 100px;' ></clr-spinner>
      </div>
      <img
        #image
        *ngIf='thumbPath'
        src='{{ thumbPath }}'
        alt='{{ fileData.fileName }}'
        (load)='loading = false'
        (click)='toggleFull($event);'
        [ngClass]="'phone_fullscreen-image'"
        [ngStyle]="{'transform': 'translate(' + phoneTranslateX + ', ' + phoneTranslateY + ')'}"
      />
    </div>
    <div class='phone_fullscreen-part' *ngIf='isPhoneMetaDisplay' >
      <app-file-data-meta [fileData]='fileData'> </app-file-data-meta>
    </div>

    <div class='phone_fullscreen-part'>
      <div class='phone_actions' (click)='close()'>
          <div class="btn-group btn-primary">
            <button title="Show Info" (click)="requestMeta($event)" class="btn">Details</button>
            <button title="Download Original" (click)="downloadOriginal(fileData, $event)" class="btn">Download</button>
          </div>
      </div>
    </div>
  </div>


</div>
