.content-area {
  background-color: rgb(27, 42, 50);
}

.modal-dialog.modal-xl {
  width: 90%;
  height: 90%;
}

.file-data-img {
  min-height: 200px;
  max-height: 200px;
  object-fit: scale-down;
}

.main-container .content-container {
  display: block;
}

.preview-container {
  cursor: pointer;
}

.file-data-text .p5 {
  margin-top: 0 !important;
}

.logo {
  max-height: 36px;
}

.card-header {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  hyphens: auto;
}

.card-header .p5 {
  margin-top: 0;
}

.directory-card-row {
  height: 100%;
}

.directory-card-title {
  word-break: break-all;
  margin-top: 0 !important;
}

.directory-card-stats {
  vertical-align: text-top;
  margin-left: 2px;
  margin-top: 0;
}

.file-data-card-title {
  margin-top: 0 !important;
}
