<clr-header>
  <div class="branding">
    <a routerLink="/home" class="nav-link">
      <img class="logo" src="assets/picthor-logo-color.png" />
    </a>
  </div>
</clr-header>

<nav class="header-nav" [clr-nav-level]="2" style="margin-left: 20px; margin-right: 20px">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/roots">Roots</a>
    </li>
  </ul>
</nav>
