<clr-header>
  <div class="branding">
    <a routerLink="/home" class="nav-link">
      <cds-icon shape="home"></cds-icon>
      <span class="title">Picthor.Io</span>
    </a>
  </div>
</clr-header>

<nav class="subnav" [clr-nav-level]="2">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/roots">Roots</a>
    </li>
  </ul>
</nav>
